.logLevelInfo {
    color: green;
}
.logLevelWarning {
    color: orange;
}

.logLevelError {
    color: red;
}

.logContainer {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 5px;
}