* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.navbarRight {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12.5px;
}

.navButtons {
    display: inline-block;
    margin: 0 10px;
}

nav {
    background-color: darkred;
    color: #f9f9f9;
    height: 50px;
    width:100%;
    display:flex;
    align-items: center;
}

button {
    border: 2px solid darkred;
    background-color: darkred;
    color: #f9f9f9;
}

button:hover {
    background-color: #f9f9f9;
    color: darkred;
}

#headline {
    display: inline;
    margin-left: 5px;
}

#centerContainer {
    text-align: center;
    margin: 5px;
}

#containerOutUsers {
    overflow: scroll;
    max-height: 25vh;
    text-align: left;
}

.actionBar {
    text-align: left;
    display: block;
    width: 50%;
    margin: auto;
}

td input,
td button {
    margin: auto;
}

td p {
    text-align: left;
    padding-left: 5px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

tr:hover {
    background-color: darkred;
    color: white;
}

@keyframes pulse {
    0%, 100% {
        background-color: white;
    }
    50% {
        background-color: green;
    }
}

.pulseGreen {
    animation: pulse 0.5s ease-in-out;
}

table {
    margin: auto;
    width: 50%;
}

.popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.popupBackground {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.ulGroups, h3 {
    width: 50%;
    margin: auto;
    text-align: left;
}

.tblUsers {
    width: revert;
    margin: revert;
}
